<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwxSdPxeKR0IyS4C0A8E67DyYm-KQYpxs&callback=initMap"> </script> -->
<%= javascript_include_tag 'map_SP.js' %>
<!-- <div class="w3-container"> -->
    <!-- <div class = "container-fluid"> -->
      <!-- <nav id="navgation"> -->
      <div class = "row">
        <div id="map-affix" class = "col-sm-9 affix">
          <div class = "map-wrapper" id = "procedure_map"> </div>
        </div>
        <div class="col-sm-9">
          <h1> </h1>
        </div>
        <!-- <div class="col-sm-9 offset-col-sm-9"></div> -->
        <div class ="col-sm-3">
         <div class="card card-block">
          <div class = "row">

            <div class="col-sm-12">
              <label for="select_health_centre"><b>Tipo de Visualização</b></label>
            </div>

            <div class="col-sm-12" id="viewType">
              <form>
                <div class="radio">
                  <label><input type="radio" name="optRadio" value="0"> Individual</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="optRadio" value="1" checked="checked"> Cluster</label>
                </div>
              </form>
            </div>

            <div class="col-sm-12">
              <hr>
            </div>

<!--             <div class = "col-sm-12">
              <div class = "form-check form-check-inline">
                <label class = "form-check-label">
                  <input class = "form-check-input" type = "checkbox" id = "checkbox_residencia_paciente" value = 1 checked = "checked"> Região de Domicílio</label>
              </div>
              <div class = "form-check form-check-inline">
                <label class = "form-check-label">
                  <input class = "form-check-input" type = "checkbox" id = "checkbox_health_centre" value = 1 checked = "checked"> Estabelecimento de ocorrência</label>
              </div>
            </div>
            <div class="col-sm-12">
              <hr>
            </div> -->

            <div class="col-sm-12">
              <label for="select_health_centre"><b>Região da cidade</b></label>
              <select class="select-region form-control" id="select_region" multiple="multiple"></select>
            </div>

            <div class="col-sm-12">
              <hr>
            </div>

            <div class="col-sm-12">
              <label for="select_health_centre"><b>Estabelecimento de ocorrência</b></label>
              <select class="select-health_centre form-control" id="select_health_centre" multiple="multiple"></select>
            </div>

            <div class="col-sm-12">
              <hr>
            </div>

            <div class="col-sm-12">
              <label for="select_cdi"><b>Faixa etária</b></label>
              <select class="select-age_group form-control" id="select_age_group" multiple="multiple">
              </select>
            </div>

            <div class="col-sm-12">
              <hr>
            </div>

            <div class="col-sm-12">
              <label for="select_cdi"><b>Causas da internação (CDI-10)</b></label>
              <select class="select-cdi form-control" id="select_cdi" multiple="multiple"></select>
            </div>

            <div class="col-sm-12">
              <hr>
            </div>

            <div class="col-sm-12">
              <label for="select_speciality"><b>Especialidade do leito</b></label>
              <select class="select-speciality form-control" id="select_speciality" multiple="multiple"></select>
            </div>

            <div class="col-sm-12">
              <hr>
            </div>

            <div class="col-sm-12">
              <label for="select_treatment"><b>Caráter do atendimento</b></label>
              <select class="select-treatment form-control" id="select_treatment" multiple="multiple"></select>
            </div>

            <div class="col-sm-12">
              <hr>
            </div>

            <div class="col-sm-12">
              <div class = "row">
                <div class = "col-sm-2">
                  <label><b>Sexo</b></label>
                </div>
                <div class = "col-sm-5">
                  <div class="form-check form-check-inline" style = "max-width = 140px;">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" id="sexo_masculino" value="M" checked="unchecked">Masculino</label>
                  </div>
                </div>
                <div class = "col-sm-5">
                  <div class="form-check form-check-inline" style = "max-width = 120px;">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" id="sexo_feminino" value="F" checked="unchecked">Feminino</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12">
              <hr>
            </div>

            <div class="col-sm-12">
              <label><b>Período</b></label>
                <div class="input-daterange input-group" id="datepicker">
                  <input type="text" class="input-sm form-control" id="intervalStart" />
                  <span class="input-group-addon" id="intervalTo">até</span>
                  <input type="text" class="input-sm form-control" id="intervalEnd" />
                </div>
            </div>

            <div class="col-sm-12">
              <hr>
            </div>

            <div class="col-sm-12">
              <label><b>Distância de deslocamento(Km)</b></label>
              <div class="row">
                <div class="col-sm-1 text-right">
                  <span id="slider_distance_min">0</span>
                </div>
                <div class="col-sm-9">
                  <input id="slider_distance" type="text" style="width: 100%" />
                </div>
                <div class="col-sm-1" style = "text-align: left" id="text-left">
                  <span id="slider_distance_max">30+</span>
                </div>
              </div>
            </div>

            <div class="col-sm-12">
              <hr> 
              <button class="btn btn-success" type="button" id="btn-submit">
                <i class="fa fa-search" aria-hidden="true"></i> Buscar
              </button>
              <button class="btn btn-clear" type="button" id="btn-clear">
                <i class="fa fa-search" aria-hidden="true"></i> Limpar
              </button>
            </div>
            <div class = "col-sm-12" style = "height: 10px;"></div>
          </div>
        </div>
      </div>
    </div>
  <!-- </nav> -->
    <!-- </div> -->
    <!-- <hr> -->
<!-- </div> -->

<!-- Modal -->
<div id="help-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Ajuda</h4>
      </div>
      <div class="modal-body">
          <p>Nesta página você pode pesquisar procedimentos médicos que ocorreram na cidade de São Paulo a partir de diversos filtros.</p>
          <p>À direita estão as opções que podem ser escolhidas, cada campo diz respeito a um aspecto do procedimento, é possível fazer buscas por combinações de filtros e cada filtro pode receber diversos valores.</p>
          <p>Ao clicar no botão Buscar o mapa à esquerda será preenchido com a localização dos procedimentos(paciente e centro de saúde onde ocorreu), que satifazem os críterios de busca.</p>
          <p>Ao clicar em um paciente(Ícone verde) detalhes do procedimento que ele realizou são apresentados e um botão que limpa o mapa deixando apenas o local da residência deste paciente e o centro de saúde onde ocorreu.</p>
          <p>Ao clicar em um centro de saúde(Ícone Azul) o mapa é limpo apresentando então todos os locais de residência de pacientes que fizeram um procedimento neste estabelecimento específico.</p>  
          <p>Uma busca sem nenhum filtro selecionado retorna todos os procedimentos. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div id="legend_proc"><h3>Legenda</h3></div>

<script>
  $(document).ready(initMap)
  $(document).ready(data_input)
  $(document).ready(submit)
  $(document).ready(clear)
</script>