*{
  margin: 0;
  padding: 0;
}

.main-div {
  display: flex;
}

.fixed {
  padding-top: 50px;
  width: 50vw;
  background-color: #fff;
  height: 100vh;
  overflow-x: auto;
}

.texto-div {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 3vw;
  padding-right: 3vw;
  height: calc(100vh - 50px);
}

.titulo {
  font-family: 'Raleway', sans-serif;
}

.right-text-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-text-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.image-section {
  height: 15vh;
  margin: 0 1vw 0 1vw;
}

.membros-div {
  width: 50vw;
  padding-top: 50px;
  background-color: #fff;
}

.membros-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9e9e9;
  margin: 3vh 3vw 2vh 3vw;
  height: 87vh;
  overflow-x: auto;
  border: 2px solid #afafaf;
  box-shadow: 5px 5px 3px #757575;
}

.membros-titulo {
  font-family: 'Raleway', sans-serif;
}

.membros-list-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: inherit;
}

.membro-div {
  display: flex;
  flex-direction: column;
  margin-right: 1vw;
  margin-left: 1vw;
  margin-top: 1vh;
}

.membro-div-img {
  border-radius: 50%;
  width: 15vh;
  height: 15vh;
}

.membro-div-name {
  max-width: 15vh;
  font-family: 'Raleway', sans-serif;
}

.membro-div p {
  margin-bottom: 0;
}
