.grafico {
    width: 47vw;
    flex: 1 1 auto;
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
  }

  .card-div {
    margin-top: 15px;
    width: 90vw;
    box-sizing: border-box;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    border-radius: 0 2px ;
    padding: 2em;
    border-left: 5px #00c89e solid;
  }

  .card-header {
    padding: .5em;
    text-align: left;
    position: relative;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .card-header h1 {
    font-size: 2em;
    margin: 0;
  }

  .buttons-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .buttons-div .fas {
    font-size: 1.5em;
    margin: 0 3px;
    cursor: pointer;
  }

  .buttons-div .fas:hover {
    color: #00c89e;
  }

  .buttons-div .main-button {
    font-size: 2.5em;
    margin-left: 10px;
  }

  .buttons-div.active .main-button {
    transform: rotate(135deg);
  }

  .buttons-div .config-buttons {
    opacity: 0;
  }

  .buttons-div.active .config-buttons {
    opacity: 1;
  }

  .buttons-div i {
    font-size: 1.5em;
  }

  .card-body {
    padding: .5em 15px;
  }

  .card-body.hidden {
    width: 0;
  }

  .card-body .title {
    font-weight: bold;
    text-decoration: underline;
  }

  .card-body p span {
    font-weight: bold;
  }
