*{
  margin: 0;
  padding: 0;
}

hr {
  border-top: 1px solid #cccccc;
}

.page {
  display: flex;
  flex-direction: row;
}

.mapa {
  width: 50vw;
  height: 100vh;
}

.fixed {
  position: fixed;
}

.name {
  width: 47vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;
}

#search-name {
  font-family: 'Raleway', sans-serif;
}

.info {
  padding-left: 2vw;
  padding-right: 1vw;
  padding-top: 50px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
}

.grafico {
  width: 47vw;
}

.barras {
  flex-grow: 1;
}

.redondo {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: space-around;
}

#general-right-graph {
  width: 47vw;
  height: 30vh;
}

#distance-legend {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  margin-bottom: 0;
  vertical-align: middle;
}

.grafico-info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
