*{
  margin: 0;
  padding: 0;
}

hr {
  border-top: 1px solid #8e8e8e;
}

.page {
  display: flex;
  flex-direction: row;
}

.mapa {
  padding-top: 50px;
  width: 50vw;
  height: 100vh;
  z-index: 1;
}

.fixed {
  position: fixed;
}

.info-text {
  width: 47vw;
  height: auto;
}

.btn-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  width: 33%;
  border-top: 0;
  border-bottom: 0;
  border-left: 1px;
  border-right:0;
  border-style: solid;
  border-color: #cdcdcd;
  background-color: #fff;
  color: #8e8e8e;
  bottom: -15px;
  position: relative;
  font-family: 'Raleway', sans-serif;
}

.button:hover {
  font-weight: bold;
}

.button:first-child {
  border-left: 0;
}

.name {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;
}

.select {
  z-index: 2;
  display: flex;
  flex-direction: row;
  position: fixed;
  color: #e2e0e0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50vw;
  bottom: 0;
  font-size: smaller;
}

#search-name {
  font-family: 'Raleway', sans-serif;
}

li {
  display: inline-flex; 
}

.info {
  padding-left: 2vw;
  padding-right: 1vw;
  padding-top: 50px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
}

.grafico {
  width: 47vw;
}

.barras {
  flex-grow: 1;
}
