/*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

.masthead {
    background-color: #363636;
    color: #ddd;
    padding: 2px 0;
    height: 24px;
}

.container {
    width: 970px;
    margin-top: 0;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.lnk-masthead, .lnk-masthead:hover {
    color: #ddd;
    text-decoration: none;
    font-size: 16px;
}*/

body {
  position: relative;
  padding-bottom: 110px;
}

a {
}

a:hover {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: 20px auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  flex-grow: 0;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  flex-grow: 3;
  text-align: center;
}

.slider {
  width: calc(100vw - (100vw - 100%));
  position: relative;
  overflow: hidden;
}

.slider-btn {
  position: absolute;
  top: 50%;
  z-index: 1;
  color: #fff;
  text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
}

.slider-btn:hover {
  text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.3);
  transform: scale(.9);
}

.slider-btn.left {
  left: 0;
}

.slider-btn.right {
  right: 0;
}

.slider-img {
  width: 100%;
  position: relative;
  top: 0;
  display: none;
}

.slider-img.active {
  display: block;
}

.data-row {
  background-color: #777;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.data {
  color: #fff;
  text-align: center;
}

.data-num {
  font-size: 3em;
  margin: 0;
}

.data-label {
  font-family: 'Raleway', sans-serif;
}

.section {
  font-family: 'Raleway', sans-serif;
}

.section::after {
  content: '';
  display: block;
  background-color: #000;
  height: 2px;
}

.grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px 30px;
}

.item {
  position: relative;
}

.item::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.3;
}

.item:hover::after {
  opacity: 0.5;
}

.item-img {
  width: 100%;
}

.item-title {
  position: absolute;
  top: 2em;
  left: 1em;
  font-size: 1.75em;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  transition: transform 250ms ease-in-out;
  z-index: 1;
}

.item:hover .item-title {
  transform: translateY(-1em);
}

.item-title::after {
  content: '';
  height: 4px;
  display: block;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in-out;
}

.item:hover .item-title::after {
  transform: scaleX(1);
}

.item-descript {
  color: #fff;
  position: absolute;
  top: 50%;
  padding: 0 1em 0 1.75em;
  transition: transform 250ms ease-in-out,
              opacity 250ms ease-in-out;
  opacity: 0;
  z-index: 1;
}

.item:hover .item-descript {
  transform: translateY(-1em);
  opacity: 1;
}

.rodape {
  position: absolute;
  bottom: 0;
  width: calc(100vw - (100vw - 100%));
  background-color: #333;
  height: 100px;
  z-index: 2;
}
