/*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

.masthead {
    background-color: #363636;
    color: #ddd;
    padding: 2px 0;
    height: 24px;
}

.container {
    width: 970px;
    margin-top: 0;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.lnk-masthead, .lnk-masthead:hover {
    color: #ddd;
    text-decoration: none;
    font-size: 16px;
}*/

.container {
  width: 1170px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.titulo {
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
}

.data {
  background-color: #777;
}

.title {
  font-family: 'Raleway', sans-serif;
}

.title::after {
  content: '';
  display: block;
  background-color: #000;
  height: 2px;
}

.rodape {
  position: fixed;
  bottom: 0;
  width: calc(100vw - (100vw - 100%));
  background-color: rgb(101, 250, 255);
  height: 100px;
}
