*{
  margin: 0;
  padding: 0;
}

.min-number {
  width: 3.5vw;
  position: absolute;
  border: 1px solid black;
  text-align: center;
  z-index: 1;
}

.max-number {
  width: 3.5vw;
  position: absolute;
  border: 1px solid black;
  text-align: center;  
  z-index: 1;
}

.slider {
  margin-left: 3vw;
}

.slider-div {
  z-index: 2;
}

.label-median {
  position: absolute;
  font-size: 10px;
  margin-left: 15%;
}

.slider-rangeHighlight {
	background: black;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  display: none;
  background-color: #f1f1f1;
}

.form-control {
  width: 22vw;
}