*{
  margin: 0;
  padding: 0;
}

.container {
  margin: 50px 0 0 0;
}

.map-wrapper {
  height: calc(100vh - 50px);
}

#automatic_search_checkbox {
  opacity: 0;
}

.card-block {
  padding-top: 1em;
}

.min-number {
  width: 3.5vw;
  position: absolute;
  border: 1px solid black;
  text-align: center;
  z-index: 1;
}

.max-number {
  width: 3.5vw;
  position: absolute;
  border: 1px solid black;
  text-align: center;
  z-index: 1;
}

.slider {
  margin-left: 3vw;
}

.slider-div {
  z-index: 2;
}

.label-median {
  position: absolute;
  font-size: 10px;
  margin-left: 15%;
}

.slider-rangeHighlight {
	background: black;
}

.collapsible {
  background-color: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top: 0.8vh;
  transition: background-color 300ms;
}

.collapsible:hover {
  background-color: #aaa;
}

.collapsible h4:before {
  content: '\f078';
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  float: right;
  text-align: center;
  transition: transform 500ms 250ms ease-in-out;
}

.collapsible.active h4:before {
  transform: rotate(180deg);
}

.content {
  background-color: rgb(231, 231, 231);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  box-shadow: inset 0px 0px 3px 2px rgba(203, 203, 203, 0.17);
}

.form-control {
  width: 22vw;
}

.diagnostic {
  background-color: rgb(240, 240, 240);
}

.patient_info {
  background-color: rgb(240, 240, 240);
}

.location {
  background-color: rgb(240, 240, 240);
}

.establishment {
  background-color: rgb(240, 240, 240);
}

.values_search {
  background-color: rgb(240, 240, 240);
}

.leaflet-heatmap-layer {
  opacity: .6;
}

.mycluster1 {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-color: greenyellow;
  text-align: center;
  font-size: 24px;
}
.mycluster2 {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  background-color: #ffdb58;
  text-align: center;
  font-size: 24px;
  padding-top: 10px;
  box-sizing: border-box;
}
