<div class="centered">
    <h2>Health Dashboard</h2>
    <div class="col-md-8 col-md-offset-2">
        <div class="well">
            <p style="text-align: justify;">
                <p>O Projeto Health Dashboard é uma colaboração entre o <a href="http://interscity.org/">Projeto InterSCity</a> sediado no IME-USP e a <a href="http://www.prefeitura.sp.gov.br/cidade/secretarias/saude/">Secretaria Municipal da Saúde de São Paulo</a>.</p>

                <p>O objetivo do projeto é utilizar técnicas avançadas de Ciência da Computação (Big Data, Visualização e Ciência de Dados) para fornecer ferramentas inovadoras para profissionais de saúde e gestores em saúde pública.</p>

                <p>O projeto está aberto a colaborações de todos os interessados que possam contribuir para a melhoria das ferramentas desenvolvidas e tem como o objetivo produzir tanto software livre útil para a gestão de saúde quanto avanços científicos na área de Informática e Big Data em Saúde. </p>

                <p> O InterSCity é financiado com recursos da FAPESP, CNPq e CAPES.</p>
            </p>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <div class="well">
            <p>Membros do Projeto:</p>
            <p style="text-align: justify;">
                <p>Prof. Fabio Kon - IME/USP</p>
                <p>Profª. Kelly Braghetto - IME/USP</p>
                <p>Débora Ciriaco - IME/USP</p>
                <p>(Contato)Eduardo Pinheiro - IME/USP <a href="mailto:eduardo.goncalves.pinheiro@usp.com">eduardo.goncalves.pinheiro@usp.com</a></p>
                <p>Breno Aguiar - SMS/SP</p>
                <p>Marcelo Failla - SMS/SP</p>
            </p>
        </div>
    </div>
</div>