<div class="centered">
<h2>Health Dashboard</h2>
<div class="well">
  <p style="text-align: justify;">
    <p>Este projeto é desenvolvido no Centro de Competência em Software Livre do IME/USP por meio de uma parceria entre o INCT da Internet do Futuro para Cidades Inteligentes <a href="http://interscity.org">(InterSCity.org)</a> e a Secretaria Municipal de Saúde de São Paulo.</p>
    <p>Membros do Projeto:</p>
    <p>Prof. Fabio Kon - IME/USP</p>
    <p>Profª. Kelly Braghetto - IME/USP</p>
    <p>Débora Ciriaco - IME/USP</p>
    <p>(Contato)Eduardo Pinheiro - IME/USP <a href="mailto:eduardo.goncalves.pinheiro@usp.com">eduardo.goncalves.pinheiro@usp.com</a></p>
    <p>Breno Aguiar - SMS/SP</p>
    <p>Marcelo Failla - SMS/SP</p>
  </p>
</div>
</div>