<%= stylesheet_link_tag "home.css" %>

<body>
  <header class="header">
    <div class="masthead">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-4 text-left">
            <a href="http://www.capital.sp.gov.br/" class="lnk-masthead">
              <strong>PREFEITURA DE SÃO PAULO</strong>
            </a>
          </div>
          <div class="col-md-4 hidden-xs text-center">
            <a href="http://transparencia.prefeitura.sp.gov.br/acesso-a-informacao/Paginas/default.aspx" class="lnk-masthead">
              <strong>Acesso a Informação</strong>
              <img class="header-logo-acesso-informacao" src="http://www.prefeitura.sp.gov.br/cidade/img/capital_acesso-informacao.png" alt="Acesso a Informação">
            </a>
          </div>
          <div class="col-md-4 hidden-xs text-right">
            <a href="http://transparencia.prefeitura.sp.gov.br/Paginas/home.aspx" class="lnk-masthead">
              TRANSPARENCIA SÃO PAULO
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
</body>
