<%= stylesheet_link_tag "health_centres.css" %>

<div class="page">
<div class="mapa">
      <div class="mapa fixed" id='map'></div>
</div>

<div class="info">
    <h1 id="search-name"> São Paulo </h1>
      <div class="grafico redondo">
        <div id='general-right-graph'></div>
        <div class="grafico-info">
          <div id="labelOverlay">
            <p class="n_procedures"></p>
            <p class="atendimentos"></p>
          </div>
          <div id='distance-legend'>
            <div> <div class="color lt-1km"></div><p class="text">&lt; 1 km</p> </div>
            <div> <div class="color lg-1km-lt-5"></div><p class="text">&gt; 1 km e &lt; 5 km</p> </div>
            <div> <div class="color lg-5km-lt-10"></div><p class="text">&gt; 5 km e &lt; 10 km</p> </div>
            <div> <div class="color lg-10km"></div><p class="text">&gt; 10 km</p> </div>
          </div>
        </div>
      </div>

      <div class="grafico barras" id='bt-graph2'></div>

</div>
</div>

<!-- Analise button -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Internações Hospitalares por Especialidade</h4>
      </div>
      <div class="modal-body">
          <div id="chart_div" align="center"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>



<script>
  $(document).ready(initialize)
</script>
