<%= stylesheet_link_tag "health_centres.css" %>

<div class="page">
  <div class="map">
    <div class="mapa fixed" id='map'></div>
    <div class="map-config legend" id="legend">
      <div class="map-config-header legend-header" onclick="show_menu('#legend')">
        <p>Legendas</p>
      </div>
      <div class="legend-body">
        <div class="legend-item">
          <%= image_tag("/health_centre_icon.png", :class => "legend-img") %>
          <p>ESTADUAL</p>
        </div>
        <div class="legend-item">
          <%= image_tag("/health_centre_icon2.png", :class => "legend-img") %>
          <p>MUNICIPAL</p>
        </div>
      </div>
    </div>
    <div class="map-config select health_centre translateX-legendsize" id="div-adm">
      <div class="map-config-header select-header" onclick="show_menu('#div-adm')">
        <p>Limites Administrativos</p>
      </div>
      <div class="select-body health_centre">
        <form>
          <ul id="checkbox-list">
            <li><input type="checkbox" name="optCheckbok" value="0" onchange="setShape('Shape_SP.geojson', null)"> Município de São Paulo</li>
            <li><input type="checkbox" name="optCheckbok" value="1" onchange="setShape('Shape_CRS.geojson', null)"> Coordenadoria Regional de Saúde</li>
            <li><input type="checkbox" name="optCheckbok" value="2" onchange="setShape('Shape_STS.geojson', null)"> Supervisão Técnica de Saúde</li>
            <li><input type="checkbox" name="optCheckbok" value="3" onchange="setShape('Shape_PR.geojson', null)"> Prefeitura Regional</li>
            <li><input type="checkbox" name="optCheckbok" value="4" onchange="setShape('Shape_DA.geojson', null)"> Distritos Administrativos</li>
            <li><input type="checkbox" name="optCheckbok" value="5" onchange="setShape('Shape_UBS.geojson', null)"> Áreas de Abrangência de UBS</li>
            <li><input type="checkbox" name="optCheckbok" value="6" onchange="setShape('Shape_ESF.geojson', null)"> Áreas de Cobertura da Estratégia Saúde da Família</li>
          </ul>
        </form>
      </div>
    </div>
    <div class="heatmap-legend">
        <div class="heat-legend">
            <div class="legend-title">Mapa de Calor</div>
            <div class="legend-scale">
                <ul class='legend-labels'>
                    <li class="legend-label"><span class = "span-normal" style='background: linear-gradient(to right, #F8A5B2, #FE0401);'></span></li>
                </ul>
            </div>
        </div>
        <div class="legend-data">
            <li class="legend-data-li" id="legend-label-1"><p class="legend-data"></p></li>
            <li class="legend-data-li" id="legend-label-2"><p class="legend-data"></p></li>
        </div>
    </div>
  </div>

  <div class="info">
    <div class="info-text">
      <div class="name">
        <h1 id="search-name">SÃO PAULO</h1>
        <div id="labelOverlay">
          <p class="n_procedures"></p>
          <p class="atendimentos"></p>
        </div>
      </div>
      <div id="hosp-info"></div>
    </div>
    <hr class="divider">
    <!-- <div class="grafico barras" id='bt-graph2'></div> -->
    <div id="bar-graph" class="grafico"></div>

  </div>
</div>

<!-- Analise button -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Internações Hospitalares por Especialidade</h4>
      </div>
      <div class="modal-body">
          <div id="chart_div" align="center"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div id="loading_overlay"class="loading">Loading&#8230;</div> <!-- Loading Overlay -->

<script>

// based on prepared DOM, initialize echarts instance
var myChart = echarts.init(document.getElementById('bar-graph'));

  $(document).ready(initialize)
  document.onload = load_all_points();
  document.onload = create_homepage_charts();
  setTimeout(function(){myChart.resize();}, 1000);
  //^Dívida técnica

  $(window).on('resize', function(){
    if(myChart != null && myChart != undefined){
      myChart.resize();
    }
  });

</script>
